
body {
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app,
body {
  --el-color-primary: #2d4fea;
  --el-color-primary-light-3: #2d4fea;
  a,
  a:hover {
    color: #2d4fea;
    cursor: pointer;
    text-decoration: none;
  }
}
